.newsletter-con {
    padding:0 20px;
}

.footerUp {
    background-color: $footer-up;
    padding: 50px 0 40px;
}

.footerDown {
    &__con {
        margin: 0 auto 0 !important;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    
    &__socialMedia {
        background-color: #FFD200 !important;
        font-size: 35px;
        color: $base-color !important;
        

        &:hover {
            background-color: #fff !important;
            transform: rotate(1turn);
            transition: all 0.5s ease-in-out;
        }
    }

    &__divider{
        background-color: rgba($color: #fff, $alpha: 0.4) !important;
    }

    &__copyRight {
        background-color: #FFD200;
        text-align: center;

        & p:nth-child(1) {
            font-weight: bold;
            color: $base-color;
        }

        & p:nth-child(2) {
            font-size: small;
            color: rgba($color: $base-color, $alpha: 0.7);
        }

    }
}

.service {
    padding:0 60px 10px;

    > div {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: bold;
    }
}

@media (max-width: 1279px) {
    .service__arrow {
        display: none;
    }
}